/*General Settings*/

body {
    margin: 0;

}

.container {
    width: 75%;
    margin: 0 auto;
}

/* Header Styling */

header {
    background: dodgerblue;
    padding: 0 10px;
    background-image: url('../img/pattern.png');
    background-size: 35%;
    background-position: 70px 0px;
}

.logo {
    height: 50px;
    margin-top: 40px;
}

/* Main Topic Styling */

main {
    padding: 0px 10px;
}

h1 {
    margin-bottom: 0;
    font-size: 38px;
}

.author {
    font-size: 18px;
    color: gray;
}

.author-name {
    color: dodgerblue;
}

.date {
    font-size: 13px;
    color: gray;
}

.caption {
    font-size: 12px;
}

/* Paragraphs Styling */

p {
    margin: 30px 0;
}

.underlined-txt {
    background: yellow;
}

/*List Styling*/

ul {
    margin: 0 0 30px;
    padding-left: 16px;
}

/* Table Styling */

table {
    border-collapse: collapse;
}

thead {
    text-align: left;
    background: dodgerblue;
    color: white;

}

.main-table-title {
    width: 50%;
}

.special-blue-rows {
    background: lightblue;
}

/* Footer Styling */

footer {
    padding: 0 10px;
    margin-bottom: 30px;
}

.footer-title {
    font-size: 16px;
    margin-bottom: 10px;
    color: gray;
    

}

.image {
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
}

#monitor {
    background-image: url(../img/monitor.jpg);
    background-size: cover;
}

#graph {
    background-image: url('../img/graph.jpg');
    background-size: cover;
}

h4 {
    color: white;
    padding: 10px 10px;
}