/* General Settings */
* {
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 1500px;
    
    
    }

/* Header Style Setup */

header {
    width: 1500px;
    height: 150px;
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF
    }

/*Logo Styling*/

    #logo {
        padding: 75px 0px 20px 20px;
        width: 250px;
        }

/*Credits Styling*/

.written_by {
    font-size: 16px;
    color: #808080;
}

.author {
    color: #4EA0FF;
    
}

.date {
    color: #808080;
    font-size: 12px;
}

/*Bibliography Styling*/

.bibliography {
    font-size: 12px;
}